@{
    ViewBag.Title = "AudiStego";
}

<div class="jumbotron">
    <h1>Audio Steganography</h1>
    <p class="lead">
        Audio steganography is an easy way to embed the necessary information in an audio file.
    </p>
    <p><a href="@Url.Action("GetStarted", "Home")" class="btn btn-primary btn-lg">Get started! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Getting started</h3>
        <p>
            Steganography is the science of secretly transmitting information by hiding the very fact of transmission.
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            AES encoding
        </h3>
        <p>
            To increase the persistence of information hiding, embedment algorithms use noise-resistant or cryptographic coding.
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            Blackledge-Yakovenko method
        </h3>
        <p>
            The method allows you to embed a message of a large volume and has a high degree of steganostability.
        </p>
    </div>
</div>