
@{
    ViewBag.Title = "Get Result";
}

<h2>Your message was embedded successfully!</h2>
<h3>You can download result file here</h3>

<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Download</a>
</p>


